.form__legend{
    text-align: center;
}

.form__fieldset{
    border:none;
}

.form__currencySelect{
    font-family:  "Lato";
    font-size: 15px;
    padding: 1%;


}
.form__paragraph{
    padding: 2%;
    width: 100%;
    max-width:auto; 
}

.form__input{
    padding: 2%;
    width: 100%;
    max-width:auto; 
    border-radius: 4px;
    font-family: "Lato";
}

.form__button{
    width:45%;
    border: none;
    background-color: #F9247E;
    color: #ffffff;
    font-family: "Lato";
    font-size: 20px;
    padding: 2%;
    border-radius: 8px;
}

.form__button:hover {
    background-color: #be165c;
}

.form__result{
    font-size: 30px;
}