.form__legend{
    text-align: center;
}

.form__fieldset{
    border:none;
}

.form__currencySelect{
    font-family:  "Lato";
    font-size: 15px;
    padding: 1%;


}
.form__paragraph{
    padding: 1%;
    width: 100%;
    max-width:auto; 
}

.form__input{
    padding: 2%;
    width: 90%; 
    border-radius: 4px;
    font-family: "Lato";
}

.form__button{
    width:40%;
    border: none;
    background-color: #F9247E;
    color: #ffffff;
    font-family: "Lato";
    font-size: 18px;
    padding: 2%;
    border-radius: 8px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.form__button:hover {
    background-color: #be165c;
}

.form__result{
    font-size: 30px;
}



@media (max-width: 767px) {
    .calculatorField {
        margin-left: auto;
        margin-right: auto;
    }
}
