@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
    box-sizing: border-box;
    font-family: "Lato";
    text-align: center;
    font-size: 15px;
    background-image: url("/public/background.png");
    background-size: cover;
}

*, ::after, ::before {
    box-sizing: inherit;
}

main {
    max-width: 800px;
    background-color: #000000;
    border-radius: 10px;
}

.calculatorField {
    background-color: #000000;
    color: #ffffff;
    padding: 2.5%;
};